# Dependencies
node_modules/

# Production build output
dist/

# Logs & Debugging
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# OS & Editor files
.DS_Store
Thumbs.db
.vscode/
.idea/
*.swp
*.swo

# Environment & Local Secrets
.env
.env.local
.env.*.local
*.local

.vercel
